<section class="institution-form">
  <h1 *ngIf="showCreate">დაწესებულების შექმნა</h1>
  <h1 *ngIf="!showEdit">დაწესებულების რედაქტირება</h1>
  <h1 *ngIf="show">დაწესებულება: {{ intitutionName }}</h1>

  <form [formGroup]="institutionFormTemplate" novalidate>
    <fieldset [disabled]="isDisabled">
      <label
        >საიდენტიფიკაციო
        <input
          class="form-control inst-input-type"
          formControlName="pid"
          type="text"
          name="pid"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
        />
      </label>

      <label
        >დასახელება*
        <input
          class="form-control inst-input-type"
          name="name"
          formControlName="name"
          required
        />
      </label>
      <label
        >საკონტაქტო ნომერი*
        <input
          class="form-control number-field"
          name="number"
          type="text"
          formControlName="number"
          required
        />
      </label>
    </fieldset>
  </form>

  <div *ngIf="showCreate">
    <button
      class="btn btn-primary large create-button"
      (click)="onCreate()"
      type="submit"
      id="create-inst"
    >
      <span class="k-icon k-i-plus"></span> შექმნა
    </button>
  </div>

  <div *ngIf="!showEdit">
    <button
      class="btn btn-primary large create-button"
      type="submit"
      (click)="onEdit()"
      id="create-inst"
    >
      <span class="k-icon k-i-plus"></span> შენახვა
    </button>
  </div>
</section>

<section *ngIf="show">
  <h2>ფილიალები</h2>

  <button
    class="btn btn-primary large create-button"
    type="button"
    (click)="sendToBranchAdd()"
  >
    <span class="k-icon k-i-plus"></span>ფილიალის დამატება
  </button>

  <app-show></app-show>
</section>
