<section class="branch-form">
  <h1 *ngIf="showCreate">დაწესებულება: {{ institutionName }} - ფილიალის შექმნა</h1>
  <h1 *ngIf="showEdit">დაწესებულება: {{ institutionName }} - ფილიალის რედაქტირება</h1>
  <h1 *ngIf="show">დაწესებულება: {{ institutionName }} - ფილიალის ნახვა</h1>

  <form [formGroup]="branchFormTemplate" novalidate>
    <fieldset [disabled]="isDisabled">
      <label
        >მისამართი*
        <input
          class="form-control inst-input-type"
          type="text"
          formControlName="address"
          name="address"
          required
        />
      </label>

      <label
        >მენეჯერის სახელი*
        <input
          class="form-control inst-input-type"
          type="text"
          formControlName="manager_name"
          name="manager_name"
          required
        />
      </label>
    </fieldset>
  </form>

  <div *ngIf="showCreate">
    <button
      class="btn btn-primary large create-button"
      (click)="onCreate()"
      type="submit"
      id="create-inst"
    >
      <span class="k-icon k-i-plus"></span> შექმნა
    </button>
  </div>

  <div *ngIf="showEdit">
    <button
      class="btn btn-primary large create-button"
      type="submit"
      (click)="onEdit()"
      id="create-inst"
    >
      <span class="k-icon k-i-plus"></span> შენახვა
    </button>
  </div>
</section>

<section *ngIf="show">
  <h2>ფილიალები</h2>

  <button
    class="btn btn-primary large create-button"
    type="button"
    (click)="sendToPersonAdd()"
  >
    <span class="k-icon k-i-plus"></span>პერსონალის დამატება
  </button>

  <!-- <app-show></app-show> -->
</section>
